@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

html{
    height: 95vh;
    padding: 0px; 
}

body {
    height: inherit;
    padding: 0px; 
    background-color:rgb(118, 160, 199) ;
}

#root{
    height: inherit;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}

.mainPage{   
    width: 1200px;
    height: 650px;
    background-color:rgb(224, 223, 223);
    border-radius : 10px;

    grid-column-start: 6;
    grid-row-start: 6;

    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);

}

.loginPage{
    width: 500px;
    height: 300px;
    text-align: center;
    background-color: rgb(185, 184, 184);
    border-radius : 10px;

    grid-column-start: 8;
    grid-row-start: 8;
    
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
}

.loginID{
    width: 150px;
    font-family: 'Noto Sans TC', sans-serif;
    border-radius : 5px;
}

.loginbtn{
    border-radius : 5px;
    margin-top: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.innerPlace{
    width: 1200px;
    height: 650px;
    background-color:rgb(224, 223, 223);
    border-radius : 10px;

    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
}

.roomNumber{
    font-size: 26px;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: rgb(249, 248, 248);
    border-radius : 10px;
    text-align: center;
    font-weight: bold;

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
}

.countDown{
    font-size: 70px;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: rgb(249, 248, 248);
    border-radius : 30px;
    text-align: center;
    font-weight: bold;

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.game{
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 14;

    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ansbtns{
    margin-top: 5vh;

    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
}

.ansbtn{
    width: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-family: 'Noto Sans TC', sans-serif;
}

.quizbtns{
    margin-top: 5vh;

    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
}

.quizbtn{
    width: 10vh;
    font-family: 'Noto Sans TC', sans-serif;
}

.scoretable{
    font-size: 14px;
    border-radius: 6px;
    overflow: hidden;

    grid-column-start: 12;
    grid-column-end: 15;
    grid-row-start: 2;
    grid-row-end: 10;
}


.chat{
    
    background-color: black;
    color: green;
    opacity: 0.8;
    border-radius : 5px;

    grid-column-start: 2 ;
    grid-column-end: 5 ;
    grid-row-start: 10 ;
    grid-row-end: 14 ;
    
    overflow-y: auto;
    overflow-wrap: break-word;

    display: inline;
}

.chatList{
    list-style-type:none;
    margin-left: 10px;
    padding: 0;
}

.textBoxContainer{
    grid-column-start: 2 ;
    grid-column-end: 5 ;
    grid-row-start: 14 ;
    grid-row-end: 15 ;

    display: inline;
}
.textBox{ 
    margin-top: 1px;
    border-radius : 5px;
    width: 80%;
}

.sendTextBtn{
    width: 20%;
    height: 70%;
    color: aliceblue;
    font-size: 13px;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #6c757d;
    border-radius : 5px;
    text-align:center;

    margin-top: 0;
}

.sendTextBtn:active {
    border-style: outset;
    transition: transform 0.1s;
    transform: scale(0.95)
  }


.flip-card-inner {
    width: 150px;
    height: 250px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius : 10px;

    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    width: 150px;
    height: 250px;
    position: absolute;
    border-radius : 10px;
    top:0;
    left:0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}
  
.flip-card-front {
    color: black;
}
  
.flip-card-back {
    color: white;

    transform: rotateY(-180deg);
}
  
.flip-animation{
    transform: rotateY(-180deg);
}

.lobbyPage{
    width: 300px;
    height: 500px;
    background-color: rgb(185, 184, 184);
    text-align: center;
    border-radius : 10px;
    box-shadow: 4px 4px 4px rgb(165, 165, 165);

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon{
    width: 100px;
    height: 100px;
    margin-top: 30%;
    border-radius : 100px;
    background-image: url("./static/person-circle.svg");
    background-size: 100%;
    box-shadow: 5px 5px 5px rgb(120, 118, 118);

}

.lobbyId{
    margin-top: 10%;
}

.roombtns{
    width: 200px;
    height: 100px;
    margin-top: 5%;
}

.roombtn{
    width: 75px;
    margin: 10px;
}

.roomList{
    width: 750px;
    height: 500px;
    text-align: center;
    background-color: rgb(224, 223, 223);
    border-style: solid ;
    border-radius : 10px;

    grid-column-start: 6;
    grid-column-end: 15;
    grid-row-start: 8;

    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5,1fr);
}

.room{
    width: 600px;
    height: 80px;
    margin-top: 20px;
    font-size: 30px;
    border-radius : 10px;

    grid-column-start: 2;
    grid-column-end: 8;

    display: flex;
    align-items: center;
    justify-content: center;
}

.roomEnter{
    width: 100px;
    height: 30px;
    border-radius : 5px;
    margin-top: -35px;
}

.refreshbtn{
    width: 50px;
    height: 50px;
    background-color: Transparent;
    border: 0px;
    margin-top: 10px;
    background-image: url("./static/arrow-repeat.svg");
    background-size: 100%;

    transition: transform 1.0s;
}

.refreshbtn:hover{
    transform: rotate(180deg);
}

.refreshbtn:active{
    transition: transform 0.3s;
    transform: scale(0.9) rotate(270deg);
}