@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

html{
    height: 95vh;
    padding: 0px; 
}

body {
    height: inherit;
    padding: 0px; 
    background-color:rgb(118, 160, 199) ;
}

#root{
    height: inherit;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}

.mainPage{   
    grid-column-start: 6;
    grid-row-start: 6;

    width: 1200px;
    height: 650px;
    /* margin: auto; */
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);

    background-color:rgb(224, 223, 223);
    border-radius : 10px;
}

.loginPage{
    grid-column-start: 8;
    grid-row-start: 8;
    text-align: center;

    width: 500px;
    height: 300px;
    background-color: rgb(185, 184, 184);;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius : 10px;
}

.logo{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
}

.userID{
    font-family: 'Noto Sans TC', sans-serif;
    width: 150px;
    border-radius : 5px;
}

.loginbtn{
    border-radius : 5px;
    margin-top: 10px;
    /*position: relative ; top : 10px;*/
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.game{
    grid-column-start: 8;
    grid-row-start: 3;
    grid-row-end: 14;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ansbtns{
    margin-top: 5vh;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
}

.ansbtn{
    width: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-family: 'Noto Sans TC', sans-serif;
}

.quizbtns{
    margin-top: 5vh;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
}

.quizbtn{
    width: 10vh;
    font-family: 'Noto Sans TC', sans-serif;
}

.chat{
    display: inline;
    color: green;
    grid-column-start: 2 ;
    grid-column-end: 7 ;
    grid-row-start: 10 ;
    grid-row-end: 14 ;
    background-color: black;
    opacity: 0.8;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.textBoxContainer{
    display: inline;
    grid-column-start: 2 ;
    grid-column-end: 7 ;
    grid-row-start: 14 ;
    grid-row-end: 15 ;
}
.textBox{ 
    width: 80%;
}

.sendTextBtn{
    font-family: 'Noto Sans TC', sans-serif;
    height: 70%;
    width: 20%;
    font-size: 13px;
}


.flip-card-inner {
    position: relative;
    width: 150px;
    height: 250px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius : 10px;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    top:0;
    left:0;
    width: 150px;
    height: 250px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius : 10px;
}
  
.flip-card-front {
    color: black;
}
  
.flip-card-back {
    color: white;
    transform: rotateY(-180deg);
}
  
.flip-animation{
    transform: rotateY(-180deg);
}